.article {
  margin: auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article .head-article-home {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.article .head-article-home .title-section {
  max-width: 340px;
  margin: 0;
  text-align: left;
}

.article .head-article-home .title-section .bt {
  margin: 0 0 10px 0;
}

.article .head-article-home a {
  background-color: var(--lilac);
  padding: 10px 20px;
  border-radius: 100px;
  color: var(--white);
  text-wrap: nowrap;
  &:hover,
  &:focus {
    background-color: var(--lilac-hover);
  }

  &:active {
    background-color: var(--lilac);
  }
}

.article .article-home .the-article {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.article .article-home .the-article .article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;

  &:hover .title {
    color: var(--lilac);
  }

  &:active .title {
    color: var(--lilac-hover);
  }

  &:hover figure img {
    transform: scale(104%) rotate(1.5deg);
  }
}

.article .article-home .the-article .article figure {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.article .article-home .the-article .article figure img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/10;
  object-fit: cover;
}

.article .article-home .the-article .article .tag-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 10px 0 15px 0;
}

.article .article-home .the-article .article .tag-date .tag {
  background-color: var(--bg-sec);
  border: var(--border);
  padding: 5px 10px;
  border-radius: 100px;
  color: var(--lilac-light);
}

.article .article-home .the-article .article .tag-date p {
  font-size: 0.8rem;
}

.article .article-home .the-article .article .title {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  width: 100%;
}

@media (width < 600px) {
  .article .head-article-home {
    align-items: center;
  }

  .article .article-home .the-article {
    flex-direction: column;
  }
}

@media (width < 600px) {
  .article .head-article-home {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .article .head-article-home .title-section {
    max-width: 100%;
  }
}
