.clientcompany {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.clientcompany p {
  color: var(--white);
}

.clientcompany .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.clientcompany .container figure img {
  height: auto;
  filter: invert(50%);
}

.clientcompany .container figure .webflow,
.clientcompany .container figure .editorx,
.clientcompany .container figure .framer,
.clientcompany .container figure .spotify {
  width: 95px;
}

.clientcompany .container figure .wordpress {
  width: 138px;
}

.clientcompany .container figure .squarespace {
  width: 180px;
}

@media (width < 840px) {
  .clientcompany .container {
    justify-content: center;
  }
}
