.clientcompany {
  margin: auto;
  margin-top: 330px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.clientcompany p {
  color: var(--white);
}

.clientcompany .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.clientcompany .container figure img {
  height: auto;
  filter: invert(50%);
}

.clientcompany .container figure .webflow,
.clientcompany .container figure .editorx,
.clientcompany .container figure .framer,
.clientcompany .container figure .spotify {
  width: 95px !important;
}

.clientcompany .container figure .wordpress {
  width: 130px !important;
}

.clientcompany .container figure .squarespace {
  width: 160px !important;
}

@media (width < 581px) {
  .clientcompany {
    margin-top: 250px;
  }
}

@media (width < 501px) {
  .clientcompany {
    margin-top: 170px;
  }

  .clientcompany .container {
    justify-content: center;
    gap: 20px;
  }
}

@media (width < 434px) {
  .clientcompany {
    margin-top: 150px;
  }
}

@media (width < 401px) {
  .clientcompany {
    margin-top: 180px;
  }
}

@media (width < 335px) {
  .clientcompany {
    margin-top: 150px;
  }
}

@media (width < 315px) {
  .clientcompany {
    margin-top: 110px;
  }
}

@media (width < 277px) {
  .clientcompany {
    margin-top: 90px;
  }
}

@media (width < 238px) {
  .clientcompany {
    margin-top: 50px;
  }
}
