.hero-section {
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.hero-section .box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 850px;
  background-image: url(../../assets/bg-grid.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.hero-section .box .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.hero-section .box .title .tt p {
  font-size: 3.4rem;
  line-height: 1.1;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.hero-section .box .title .tt {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-section .box .title .tt .icon,
.hero-section .box .title .tt .icon .right,
.hero-section .box .title .tt .icon .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .box .title .tt .icon {
  width: 80px;
  width: 45px;
  margin: 0 10px;
  overflow: hidden;
  gap: 23px;
  align-items: center;
  position: relative;
}

.hero-section .box .title .tt .icon svg {
  font-size: 3rem;
  color: var(--lilac);
  position: absolute;
}

.hero-section .box .title .tt .icon .right {
  filter: drop-shadow(2px 0 0px var(--bg));
  z-index: 1;
}

.hero-section .box .btn {
  margin: auto;
  width: 100%;
  gap: 30px;
  z-index: 1;
}

.hero-section .box .btn a {
  box-shadow: -0.5px 0.5px 0 var(--white);
  border-radius: 100px;
  width: 150px;
  height: 50px;
  color: var(--white);
}

.hero-section .box .btn .start {
  background-color: var(--lilac);

  &:hover,
  &:focus {
    background-color: var(--lilac-hover);
  }

  &:active {
    background-color: var(--lilac);
  }
}

.hero-section .box .btn .learn {
  background-color: var(--black-sec);

  &:hover,
  &:focus {
    background-color: var(--black-dark);
  }

  &:active {
    background-color: var(--black-sec);
  }
}

.hero-section .hero-team {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  transform: translateY(150px);
  height: 440px;

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(to top, var(--lilac), transparent);
    width: 100%;
    height: 100%;
    bottom: 0;
  }
}

.hero-section .hero-team p {
  color: var(--white);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  padding: 0 20px;
  line-height: 1;
  /* display: none; */
}

.hero-section .hero-team figure {
  padding: 0 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.hero-section .hero-team figure img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (width < 575px) {
  .hero-section .hero-team p,
  .hero-section .box .title .tt p {
    font-size: 2rem;
  }

  .hero-section .box .title .tt .icon {
    transform: scale(60%);
    margin: 0;
  }

  .hero-section .hero-team {
    transform: translateY(50px);
    height: 60vw;
  }
}

@media (width < 501px) {
  .hero-section .hero-team {
    transform: translateY(0px);
    padding: 0;
  }
}

@media (width < 400px) {
  .hero-section .box {
    gap: 20px;
    padding: 50px 0;
  }

  .hero-section .box .title .tt {
    margin-top: -10px;
  }

  .hero-section .box .title .tt p,
  .hero-section .hero-team p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .hero-section .box .title .tt .icon {
    overflow: hidden;
  }

  .hero-section .box .btn {
    gap: 20px;
    flex-direction: column;
    max-width: 100%;
  }

  .hero-section .box .btn a {
    width: 100%;
  }

  .hero-section .hero-team {
    height: 80vw;
    transform: translateY(-30px);
  }

  .hero-section .hero-team p {
    transform: translateY(-30px);
  }
}

@media (width < 335px) {
  .hero-section .hero-team {
    transform: translateY(-40px);
  }

  .hero-section .hero-team p {
    font-size: 1rem;
  }
}

@media (width < 280px) {
  .hero-section .hero-team {
    transform: translateY(0px);
  }
}
