.hero-section {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.hero-section .box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 650px;
}

.hero-section .box .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.hero-section .box .title .tt p {
  font-size: clamp(2.2rem, 10vw + 0.5rem, 3.4rem);
  letter-spacing: 1.5px;
  line-height: 1.3;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.hero-section .box .title .tt {
  display: flex;
}

.hero-section .box .title .tt .icon,
.hero-section .box .title .tt .icon .right,
.hero-section .box .title .tt .icon .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .box .title .tt .icon {
  width: 80px;
  width: 45px;
  margin: 0 10px;
  overflow: hidden;
  gap: 23px;
  align-items: center;
  position: relative;
}

.hero-section .box .title .tt .icon svg {
  font-size: 3rem;
  color: var(--lilac);
  position: absolute;
}

.hero-section .box .title .tt .icon .right {
  filter: drop-shadow(2px 0 0px var(--bg));
  z-index: 1;
}

.hero-section .box .btn {
  margin: auto;
  width: 100%;
  gap: 30px;
}

.hero-section .box .btn a {
  box-shadow: -0.5px 0.5px 0 var(--white);
  border-radius: 100px;
  width: 150px;
  height: 50px;
  color: var(--white);
}

.hero-section .box .btn .start {
  background-color: var(--lilac);

  &:hover,
  &:focus {
    background-color: var(--lilac-hover);
  }

  &:active {
    background-color: var(--lilac);
  }
}

.hero-section .box .btn .learn {
  background-color: var(--black-sec);

  &:hover,
  &:focus {
    background-color: var(--black-dark);
  }

  &:active {
    background-color: var(--black-sec);
  }
}
