.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 150px 20px 0 20;
  position: relative;
  background-color: transparent;
  overflow: visible;
  background-image: url("@/assets/arc.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.subscribe .title {
  color: var(--white);
  font-size: 1.5rem;
  max-width: 400px;
  margin: auto;
  font-weight: 700;
  line-height: 1.3;
}

.subscribe .input-box {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.subscribe .input-box input {
  height: 55px;
  background-color: var(--bg-sec);
  border-radius: 100px;
  text-align: left;
  padding: 0 20px;
  width: 100%;
  color: var(--white);
  border: 1px solid transparent;

  &:focus {
    border: 1px solid var(--lilac);
  }
}

.subscribe .input-box button {
  background-color: var(--lilac);
  padding: 0 20px;
  height: 55px;
  border-radius: 100px;
  color: var(--white);
  text-wrap: nowrap;
  position: absolute;
  right: 0;

  &:hover,
  &:focus {
    background-color: var(--lilac-hover);
  }

  &:active {
    background-color: var(--lilac);
  }
}

@media (width < 420px) {
  .subscribe {
    padding: 120px 20px 0 20;
  }
}
