@font-face {
  font-family: "Inter";
  src: url("../fontes/Inter.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  transition: 0.3s ease;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  /* user-select: none; */
  font-size: 1rem;
}

::selection {
  background-color: var(--lilac);
  color: var(--white);
}

::-moz-selection {
  background-color: var(--lilac);
  color: var(--white);
}

:root {
  --red: #ff0044;
  --white: #ffffff;
  --white-sec: #f2f2f3;
  --black: #000000;
  --black-sec: #2c2b37;
  --black-dark: #1f1f27;
  --gray: #64615b;
  --lilac: #5c30b5;
  --lilac-hover: #44218a;
  --bg: #000319;
  --bg-sec: #090d20;
  --border: 1px solid var(--black-sec);
  --text: #a2a2a2;
}

body {
  width: 100%;
  max-width: 1900px;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text);
  margin: 0 auto;
  background-color: var(--bg);
}

main {
  margin-top: 110px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

a,
button,
input,
textarea {
  all: unset;
  transition: 0.3s ease;
}

a,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--black);
  transition: 0.3s ease;
  color: var(--white);
}

p {
  line-height: 1.6;
}

nav,
ul {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

figure {
  position: relative;
  width: fit-content;
  display: grid;
  place-items: center;
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

img {
  transition: 0.3s ease;
}

.title {
  transition: 0.3s ease;
}

.icon,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.icon svg {
  font-size: 1.3rem;
}

.grid-3 {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  width: 100%;
  max-width: 1300px;
}

.grid-3 .card {
  margin: auto;
  width: 100%;
  background-color: var(--bg-sec);
  padding: 30px;
  border: var(--border);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.grid-3 .card .icon-section {
  border: var(--border);
  width: fit-content;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 100px;
  background-color: var(--bg-sec);
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 400px;
    left: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent -8%, #7575756b, transparent 90%);
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 70px;
    max-width: 400px;
    top: 0;
    background-image: linear-gradient(to bottom, transparent -8%, #7575756b);
    z-index: -1;
  }
}

.grid-3 .card .icon-section .icon {
  width: fit-content;
  background-color: var(--bg-sec);
  border: var(--border);
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 100px;
  position: relative;
  box-shadow: -0.6px -0.6px 0 var(--lilac);

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-image: linear-gradient(#a8a8a86b);
  }
}

.grid-3 .card .icon-section .icon svg {
  color: var(--white);
  opacity: 0.8;
}

.grid-3 .card .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-3 .card .info .title {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 400;
}

@media (width < 775px) {
  .grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .grid-3 .card {
    max-width: 450px;
  }
}

@media (width < 600px) {
  main {
    gap: 60px;
  }
}

@media (width < 420px) {
  .grid-3 .card {
    padding: 20px;
    gap: 20px;
  }
}

@media (width < 320px) {
  .grid-3 {
    display: flex;
    flex-direction: column;
  }
}
