.Status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-sec);
  padding: 30px 20px;
  gap: 20px;
  background-image: url("@/assets/stars.webp");
}

.Status .title {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 800;
}

.Status .tt {
  max-width: 400px;
  line-height: 1.2;
  font-weight: 500;
}

.Status .box-section {
  display: flex;
  align-items: center;
  gap: 50px;
}

.Status .box-section .box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}

.Status .box-section .box .title span {
  font-size: 2rem;
  font-weight: 400;
}

.Status .box-section .box .star {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Status .box-section .box .star svg {
  color: var(--yellow);
}

.Status .box-section .box .desc {
  font-size: 0.8rem;
  line-height: 1.3;
}

@media (width < 640px) {
  .Status {
    flex-direction: column;
  }

  .Status .tt {
    max-width: 100%;
  }

  .Status .box-section {
    width: 100%;
  }
}

@media (width < 475px) {
  .Status .box-section {
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (width < 366px) {
  .Status .box-section {
    justify-content: center;
  }
}
