.easetouse {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-image: url("@/assets/stars.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 20px;
  width: 100%;
  max-width: 1300px;
  position: relative;
  z-index: 1;

  &::after {
    background-image: linear-gradient(to right, #6c30b550, transparent, #6c30b550);
    backdrop-filter: blur(5px);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
  }
}

.easetouse .title {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
}

.easetouse p {
  margin: auto;
  max-width: 500px;
}

.easetouse a {
  color: var(--white);
  background-color: var(--lilac);
  padding: 15px 20px;
  border-radius: 100px;
  margin: auto;
  width: fit-content;

  &:hover,
  &:focus {
    background-color: var(--lilac-hover);
  }

  &:active {
    background-color: var(--lilac);
  }
}
