.benefits {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.benefits .box-benefits {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits .box-benefits .title-section {
  max-width: 550px;
  margin: 0;
  text-align: left;
}

.benefits .box-benefits .title-section .bt {
  margin: 0 0 10px 0;
}

.benefits .box-benefits .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

.benefits .box-benefits .info .box {
  display: flex;
  gap: 20px;
  align-items: start;
}

.benefits .box-benefits .info .box .icon {
  padding: 13px;
  border-radius: 100px;
  border: var(--border);
  background-color: var(--bg-sec);
}

.benefits .box-benefits .info .box .title {
  color: var(--white);
  font-weight: bold;
  opacity: 0.9;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.benefits .box-benefits .info a {
  padding: 15px 20px;
  background-color: var(--lilac);
  width: fit-content;
  border-radius: 100px;
  color: var(--white);

  &:hover,
  &:focus {
    background-color: var(--lilac-hover);
  }

  &:active {
    background-color: var(--lilac);
  }
}

.benefits figure img {
  width: 500px;
  height: auto;
}

@media (width < 950px) {
  .benefits {
    gap: 40px;
    flex-direction: column;
  }

  .benefits .box-benefits {
    max-width: 50%;
  }

  .benefits .box-benefits .info,
  .benefits .box-benefits .title-section,
  .benefits .box-benefits {
    max-width: 100%;
  }

  .benefits figure {
    width: 100%;
    max-width: 650px;
  }

  .benefits figure img {
    width: 100%;
  }
}

@media (width < 400px) {
  .benefits .box-benefits .info a {
    width: 100%;
    padding: 0;
    height: 50px;
  }
}

@media (width < 360px) {
  .benefits .box-benefits .info .box {
    flex-direction: column;
    gap: 10px;
  }
}
